# BackEnd
/backend/data
/backend/node_modules
/backend/dist
/backend/.env

# FrontEnd
/frontend/node_modules
/frontend/build
/frontend/.env

# MacoOs
.DS_Store
/.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
